name: test

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout metajit.cpp
        uses: actions/checkout@v6
        with:
          path: metajit.cpp
      - name: Checkout unittest.cpp
        uses: actions/checkout@v6
        with:
          path: unittest.cpp
          repository: can-lehmann/unittest.cpp
      - name: Checkout lwir.cpp
        uses: actions/checkout@v6
        with:
          path: lwir.cpp
          repository: can-lehmann/lwir.cpp
      - name: Set up LLVM
        run: |
          # See https://apt.llvm.org/
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
          sudo apt-get update
          sudo apt-get install -y llvm-20-dev llvm-20-tools
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-20 100
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-20 100
          sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-20 100
      - name: Build and run tests
        working-directory: metajit.cpp
        run: |
          make clean
          make test
